.project {
    height: 399px;
    width: 299px;
    background-color: #112240;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-header {
    display: flex;
    padding: 40px 30px 0px 30px;
}

.folder-icon {
    flex: 1;
    color: aqua;
}

.external-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-top: 7px;
}

.github-icon {
    padding-right: 10px;
}

.project-title {
    color: #EEEEEE;
    font-family: 'NTR', sans-serif;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.project-desc {
    color: #8898B0;
    font-family: 'NTR', sans-serif;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    min-height: 35%;
}

.project-tech {
    color: #8898B0;
    font-family: 'NTR', sans-serif;
    padding-left: 30px;
}



/* .product {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.product-browser {
    height: 20px;
    background-color: rgb(243, 242, 242);
    display: flex;
    align-items: center;
}

.product-circle {
    width: 6px;
    height: 6px;
    margin: 3px;
    border-radius: 50%;
    background-color: white;
} */