.credits {
    display: flex;
    flex-direction: column;
    color: #8898B0;
    font-family: "NTR", sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.external-links {
    display: none
}

@media screen and (max-width: 820px) {
    .credits {
        padding-top: 40px;
    }    

    .external-links {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        width: 50%;
        margin: auto;
    }
}