.credits {
    display: flex;
    flex-direction: column;
    color: #8898B0;
    font-family: "NTR", sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}