.about {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 13%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.about-title {
    font-size: 50px;
    color: #EEEEEE;
    font-weight: 950;
    font-family: 'NTR', sans-serif;
}

.about-content {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 1.7;
    padding-right: 10px;
}

.about-desc {
    flex: 1;
    color: #8898B0;
    text-align: justify;
    padding-top: 48px;
    padding-right: 5%;
}

.about-img {
    flex: 1;
    display: flex;
    padding-right: 5%;
    padding-left: 2px;
}

.my-image {
    margin-top: 10%;
    max-width: 65%;
    max-height: 65%;
    position: relative;
    overflow: hidden;
    border-radius: 7%;
}

.my-image:hover {
    transform: translateY(-7px);
}

a {
    color: aqua;
    text-decoration: none;
}

a:link {
    color: aqua 
}

a:visited {
    color: aqua 
}

a:unvisited {
    color: aqua 
}

.about-desc ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 10px));
}

.about-desc li{
    position: relative;
    padding-left: 15px;
    font-size: 14px;
}

.about-desc li::before {
    content: "▹   ";
    left: 0;
    position: absolute;
    color: aqua;
}

.tech-stack {
    padding-top: 20px;
}

@media screen and (max-width: 788px) {

    .about {
        height: unset;
        padding-left: 13%;
        padding-right: 7%;
        padding-top: 10%;
    }

    .about-img {
        display: none;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        font-size: 17px;
        line-height: 1.9;
    }

    .about-desc {
        padding-top: 0px;
    }

    .about-header {
        padding-top: 30px;
    }
}

@media screen and (max-width: 820px) {
    .about-img {
        display:none;
    }

    .about {
        height: unset;
        padding-left: 13%;
        padding-right: 7%;
        padding-top: 10%;
    }
}

/* .about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.about-right {
    flex: 1;
}

.about-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-award-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.about-title {
    font-weight: 400;
}

.about-subtitle {
    margin: 20px 0px;
}

.about-desc {
    font-weight: 300;
}

.about-awards {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-award-text {
    width: 70%;
}

.about-award-title{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;;
} */