.contact {
    height: 100vh;
    position: relative;
}

.contact-background {
    height: 100%;
    width: 20px;
    background-color: #010113;
    position: absolute;
}

.contact-wrapper {
    padding: 50px;
    display: flex;
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 1
}