.intro{
    display: flex;
    height: 100vh;
    background-color: #0a192f;
    align-items: center;
    padding-left: 6%;
}

/* .intro-left {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-right {
    flex: 4;
    position: relative;
}

.intro-nav {
    flex: 1;
} */

.intro-wrapper {
    padding: 100px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-intro {
    font-size: 30px;
    font-weight: 300;
    color: #EEEEEE;
}

.intro-name {
    font-size: 60px;
    color: #EEEEEE;
    min-height: 60px;
}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.intro-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: aquamarine;
    display: flex;
    align-items: center;
}

.intro-description {
    color: #EEEEEE;
    width: 60%;
    line-height: 1.9;
}

/* .intro-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.intro-bg {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #010113;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
} */

.intro-email {
    padding-top: 20px;
    border-color: aqua;
}

.intro-button {
    background-color: #0a192f;
    border-radius: 4px;
    color: white;
    border-color: aqua;
    font-size: 18px;
    padding: 18px;
}

.intro-button:hover {
    background-color: #122C54;
    color: grey;
}